*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
		
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;

    position: relative;
    font-family: -apple-system, Inter, system-ui, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif;
    min-height: 100%;
}

html {
    height: 100vh;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container {
    background: var(--background);
    width: 100%;
    min-width: 390px;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 115px 52px;
}

.heading {
    text-align: left;
    font-family: var(--heading-1);
    font-size: var(--heading-1-font-size);
    line-height: var(--heading-1-line-height);
    font-weight: var(--heading-1-font-weight);
		margin-bottom: 12px;
}

.heading--first {
    color: var(--white);
    display: block;
		letter-spacing: 1px;
}

.heading--second {
    color: var(--green);
		font-family: var(--heading-2);
    font-size: var(--heading-2-font-size);
    line-height: var(--heading-2-line-height);
    font-weight: var(--heading-2-font-weight);
}

.ingress {
    color: var(--mediumgrey);
    font-family: var(--text-xl);
    font-size: var(--text-xl-font-size);
    line-height: var(--text-xl-line-height);
    font-weight: var(--text-xl-font-weight);
}

.settings {
	background-color: var(--darkblue);
	border-radius: 6px;
	width: 100%;
	padding: 12px 16px;
	margin-bottom: 12px;
	display: flex;
	column-gap: 22px;
}

.two-columns {
	display: flex;
	column-gap: 12px;
	flex-grow: 1;
	width: 100%;
}
.password-button {
    background: var(--darkgreen);
    border-radius: 6px;
    border: none;
    padding: 9px 17px;
    box-shadow: var(--box-shadow);
    color: var(--white);
    font-family: var(--text-paragraph);
    font-size: var(--text-paragraph-font-size);
    line-height: var(--text-paragraph-line-height);
    font-weight: var(--text-paragraph-font-weight);
    font-family: var(--heading-1);
    font-size: var(--text-paragraph-font-size);
    line-height: var(--text-paragraph-line-height);
    font-weight: var(--text-paragraph-font-weight);
    margin-bottom: 24px;
		margin-top: 8px;
    letter-spacing: 1px;
		width: 100%;
}

.toggle {
		display: flex;
		align-items: center;
		column-gap: 12px;
}

.toggle--label {
    font-family: var(--text-paragraph);
    color: var(--mediumgrey);
		font-size: var(--text-paragraph-font-size);
		font-weight: var(--text-paragraph-font-weight);
		line-height: 16px;
}

#toggle-symbols {
	margin-right: 12px;
}
input[type="checkbox"] {
    border: none;
    accent-color: var(--green);
}

input[type="checkbox"]:active {
    border: none;
    outline: 1px solid var(--lightgreen);
}

input[type="checkbox"]:checked {
    border: none;
    accent-color: var(--green);
}

.setting-length {
		display: flex;
		align-items: center;
		width: 100%;
}

.psswrd--label {
    font-family: var(--text-paragraph);
		font-size: var(--text-paragraph-font-size);
		font-weight: var(--text-paragraph-font-weight);
    color: var(--mediumgrey);
    margin-right: 12px;
		max-width: 160px;
}

#psswrd--length {
	display: inline-block;
	min-width: 32px;
	color: var(--green);
}

input#psswrd {
    width: 250px;
		accent-color: var(--green);
		background-color: var(--white);
    color: var(--background);
    font-size: 14px;
    margin-right: 8px;
}


small {
    font-family: var(--text-paragraph);
    color: var(--white);
    opacity: 24%;
    font-size: 12px;
    height: 12px;
}

.output {
    width: 100%;
    display: flex;
    column-gap: 24px;
    padding: 34px 0 12px;
}

.output--field {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: var(--darkblue);
    border-radius: 6px;
    height: 39px;
    border: none;
    color: var(--lightgreen);
    text-align: center;
    font-family: var(--text-paragraph);
    font-size: var(--text-paragraph-font-size);
    line-height: var(--text-paragraph-line-height);
    font-weight: var(--text-paragraph-font-weight);
    flex-grow: 1;
}

.copy-icon {
    position: relative;
    width: 16px;
    top: -5px;
    left: 5px;
}
hr {
    border-style: solid;
    border-color: var(--bordercolor);
    border-width: 1px 0 0 0;
    width: 100%;
		margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 760px) {

    body {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        background-color: var(--background);
    }

    .container {
        padding: 88px 32px;
        min-width: 360px;
    }

		.heading--second {
			font-size: 38px;
		}

		.ingress {
			font-size: 18px;
			line-height: 20px;
		}

		input#psswrd {
			width: clamp(150px, 50%, 350px);
		}
    .password-button {
        width: 100%;
    }

    .output {
        flex-direction: column;
        row-gap: 16px;
    }
}

@media only screen and (min-width: 760px) {
    body {
        margin-top: -50px;
    }
}

.notice {
  background: #fff9c4;
  background: var(--green);
	color: var(--darkblue);
  border-radius: 6px;
  padding: 0.5rem;
  text-align: center;
  width: clamp(150px, 100%, 400px);
	font-size: 12px;
	margin-top: -14px;
	margin-bottom: 24px;
}

@supports (accent-color: var(--green)) {
  .notice {
    display: none;
  }
}