:root {

	/* COLORS */
	--color-primary: #7E35FF;
	--color-secondary: #FFCA35;
	--color-white: #fff;
	--color-container-bg: #211C2B;
	--color-field-bg: #3D3056;
	--color-text: #d5d4d8;
	--color-text-small: #56525E;
	--color-link: #8135FF;
	--color-link-hover: #EFBA26;
	
  /* FONT FAMILIES */
  --karla-font-family: "Karla", sans-serif;
  --roboto-font-family: "Roboto", sans-serif; 
  --inter-font-family: "Inter", sans-serif;

  /* Effects */
  --box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);

  /* Typography - Heading 1 */
  --heading-1: var(--roboto-font-family);
  --heading-1-font-size: 54px;
  --heading-1-line-height: 42px;
  --heading-1-font-weight: 700;
  
  /* Typography - Heading 2  */
  --heading-2: var(--roboto-font-family);
  --heading-2-font-size: 40px;
  --heading-2-line-height: 40px;
  --heading-2-font-weight: 300;
  
  /* Typography - Text Ingress  */
  --text-ingress: var(--roboto-font-family);
  --text-ingress-font-size: 22px;
  --text-ingress-line-height: 28px;
  --text-ingress-font-weight: 300;

  /* Typography - Text Paragraph */
  --text-paragraph: var(--inter-font-family);
  --text-paragraph-font-size: 15px;
  --text-paragraph-line-height: 24px;
  --text-paragraph-font-weight: 400;

	/* Typography - Button */
  --button-text: var(--roboto-font-family);
  --button-text-font-size: 15px;
  --button-text-line-height: 24px;
  --button-text-font-weight: 400;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	box-sizing: border-box;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;

	position: relative;
	font-family: -apple-system, Inter, system-ui, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
	min-height: 100%;
}

img, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select, a {
	font: inherit;
	color: inherit;
	text-decoration: none;
}

button {
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
}


